Repository tedilabs/terraform-aws-messaging, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

feat(eventbridge-event-bus): up to date
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-event-bus/main.tf
  modules/eventbridge-event-bus/outputs.tf
  modules/eventbridge-event-bus/variables.tf
  modules/eventbridge-event-bus/versions.tf
Labels: :floppy_disk: eventbridge-event-bus

feat(eventbridge-rule): support firehose, kinesis, lambda and step functions targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(eventbridge-rule): up to date
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/main.tf
  modules/eventbridge-rule/outputs.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(ses-identity): up to date
  modules/ses-identity/README.md
  modules/ses-identity/outputs.tf
  modules/ses-identity/route53.tf
  modules/ses-identity/versions.tf
Labels: :floppy_disk: ses-identity

feat(eventbridge-rule): support redshift and sagemaker pipeline targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(eventbridge-rule): support batch job targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(eventbridge-rule): support api gateway and appsync targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

chore(eventbridge-event-bus): require terraform >= 1.12
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-event-bus/versions.tf
Labels: :floppy_disk: eventbridge-event-bus

chore(ses-identity): require terraform >= 1.12
  modules/ses-identity/README.md
  modules/ses-identity/versions.tf
Labels: :floppy_disk: ses-identity

chore(sns-fifo-topic): require terraform >= 1.12
  modules/sns-fifo-topic/README.md
  modules/sns-fifo-topic/versions.tf
Labels: :floppy_disk: sns-fifo-topic

chore(sns-standard-topic): require terraform >= 1.12
  modules/sns-standard-topic/README.md
  modules/sns-standard-topic/versions.tf
Labels: :floppy_disk: sns-standard-topic

chore(eventbridge-event-bus): require terraform >= 1.12 (#78)
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-event-bus/versions.tf
Labels: :floppy_disk: eventbridge-event-bus

chore(sns-standard-topic): require terraform >= 1.12 (#81)
  modules/sns-standard-topic/README.md
  modules/sns-standard-topic/versions.tf
Labels: :floppy_disk: sns-standard-topic

chore(sns-fifo-topic): require terraform >= 1.12 (#80)
  modules/sns-fifo-topic/README.md
  modules/sns-fifo-topic/versions.tf
Labels: :floppy_disk: sns-fifo-topic

chore(ses-identity): require terraform >= 1.12 (#79)
  modules/ses-identity/README.md
  modules/ses-identity/versions.tf
Labels: :floppy_disk: ses-identity

fix(eventbridge-rule): scope metadata name by event bus
  modules/eventbridge-rule/main.tf
Labels: :floppy_disk: eventbridge-rule

refactor(eventbridge-rule)!: accept only event bus name for event_bus
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/main.tf
  modules/eventbridge-rule/resource-group.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

fix(eventbridge-rule)!: accept only event bus name and scope metadata name by event bus (#82)
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/main.tf
  modules/eventbridge-rule/resource-group.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat: collect module usage telemetry
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-event-bus/telemetry.tf
  modules/eventbridge-event-bus/versions.tf
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/telemetry.tf
  modules/eventbridge-rule/versions.tf
  modules/msk-cluster/README.md
  modules/msk-cluster/telemetry.tf
  modules/msk-cluster/versions.tf
  modules/ses-identity/README.md
  modules/ses-identity/telemetry.tf
  modules/ses-identity/versions.tf
  modules/sns-fifo-topic/README.md
  modules/sns-fifo-topic/telemetry.tf
  modules/sns-fifo-topic/versions.tf
  modules/sns-standard-topic/README.md
  modules/sns-standard-topic/telemetry.tf
  modules/sns-standard-topic/versions.tf
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

feat: collect module usage telemetry (#83)
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-event-bus/telemetry.tf
  modules/eventbridge-event-bus/versions.tf
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/telemetry.tf
  modules/eventbridge-rule/versions.tf
  modules/msk-cluster/README.md
  modules/msk-cluster/telemetry.tf
  modules/msk-cluster/versions.tf
  modules/ses-identity/README.md
  modules/ses-identity/telemetry.tf
  modules/ses-identity/versions.tf
  modules/sns-fifo-topic/README.md
  modules/sns-fifo-topic/telemetry.tf
  modules/sns-fifo-topic/versions.tf
  modules/sns-standard-topic/README.md
  modules/sns-standard-topic/telemetry.tf
  modules/sns-standard-topic/versions.tf
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

fix: honor telemetry opt-out
  modules/eventbridge-event-bus/telemetry.tf
  modules/eventbridge-rule/telemetry.tf
  modules/msk-cluster/telemetry.tf
  modules/ses-identity/telemetry.tf
  modules/sns-fifo-topic/telemetry.tf
  modules/sns-standard-topic/telemetry.tf
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

fix: honor telemetry opt-out (#84)
  modules/eventbridge-event-bus/telemetry.tf
  modules/eventbridge-rule/telemetry.tf
  modules/msk-cluster/telemetry.tf
  modules/ses-identity/telemetry.tf
  modules/sns-fifo-topic/telemetry.tf
  modules/sns-standard-topic/telemetry.tf
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

feat: support pseudonymization and HCP Terraform metadata in telemetry
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-event-bus/telemetry.tf
  modules/eventbridge-event-bus/versions.tf
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/telemetry.tf
  modules/eventbridge-rule/versions.tf
  modules/msk-cluster/README.md
  modules/msk-cluster/telemetry.tf
  modules/msk-cluster/versions.tf
  modules/ses-identity/README.md
  modules/ses-identity/telemetry.tf
  modules/ses-identity/versions.tf
  modules/sns-fifo-topic/README.md
  modules/sns-fifo-topic/telemetry.tf
  modules/sns-fifo-topic/versions.tf
  modules/sns-standard-topic/README.md
  modules/sns-standard-topic/telemetry.tf
  modules/sns-standard-topic/versions.tf
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

.github/labeler.yaml:

# Modules
":floppy_disk: eventbridge-event-bus":
- changed-files:
  - any-glob-to-any-file:
    - modules/eventbridge-event-bus/**/*

":floppy_disk: eventbridge-rule":
- changed-files:
  - any-glob-to-any-file:
    - modules/eventbridge-rule/**/*

":floppy_disk: msk-cluster":
- changed-files:
  - any-glob-to-any-file:
    - modules/msk-cluster/**/*

":floppy_disk: ses-identity":
- changed-files:
  - any-glob-to-any-file:
    - modules/ses-identity/**/*

":floppy_disk: sns-fifo-topic":
- changed-files:
  - any-glob-to-any-file:
    - modules/sns-fifo-topic/**/*

":floppy_disk: sns-standard-topic":
- changed-files:
  - any-glob-to-any-file:
    - modules/sns-standard-topic/**/*
