Repository tedilabs/terraform-aws-messaging, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

.github/labeler.yaml:

# Modules
":floppy_disk: eventbridge-event-bus":
- changed-files:
  - any-glob-to-any-file:
    - modules/eventbridge-event-bus/**/*

":floppy_disk: eventbridge-rule":
- changed-files:
  - any-glob-to-any-file:
    - modules/eventbridge-rule/**/*

":floppy_disk: msk-cluster":
- changed-files:
  - any-glob-to-any-file:
    - modules/msk-cluster/**/*

":floppy_disk: ses-identity":
- changed-files:
  - any-glob-to-any-file:
    - modules/ses-identity/**/*

":floppy_disk: sns-fifo-topic":
- changed-files:
  - any-glob-to-any-file:
    - modules/sns-fifo-topic/**/*

":floppy_disk: sns-standard-topic":
- changed-files:
  - any-glob-to-any-file:
    - modules/sns-standard-topic/**/*

chore: bump to v0.3.0
  VERSION
Labels: none

feat(ses-identity): support policies, custom mail from, email feedback forwarding
  modules/ses-identity/README.md
  modules/ses-identity/main.tf
  modules/ses-identity/outputs.tf
  modules/ses-identity/policies.tf
  modules/ses-identity/route53.tf
  modules/ses-identity/variables.tf
Labels: :floppy_disk: ses-identity

feat(ses-identity): fix timing issue for dkim dns record
  VERSION
  modules/ses-identity/route53.tf
Labels: :floppy_disk: ses-identity

chore: bump to v0.3.2
  VERSION
Labels: none

fix(ses-identity): support exceptional regional dkim domain
  modules/ses-identity/README.md
  modules/ses-identity/route53.tf
Labels: :floppy_disk: ses-identity

feat: improve how to use resource_group in modules
  modules/eventbridge-event-bus/outputs.tf
  modules/eventbridge-event-bus/resource-group.tf
  modules/eventbridge-event-bus/variables.tf
  modules/eventbridge-rule/outputs.tf
  modules/eventbridge-rule/resource-group.tf
  modules/eventbridge-rule/variables.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/resource-group.tf
  modules/msk-cluster/variables.tf
  modules/ses-identity/outputs.tf
  modules/ses-identity/resource-group.tf
  modules/ses-identity/variables.tf
  modules/sns-fifo-topic/outputs.tf
  modules/sns-fifo-topic/resource-group.tf
  modules/sns-fifo-topic/variables.tf
  modules/sns-standard-topic/outputs.tf
  modules/sns-standard-topic/resource-group.tf
  modules/sns-standard-topic/variables.tf
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

feat: improve how to use resource_group in modules (#37)
  modules/eventbridge-event-bus/outputs.tf
  modules/eventbridge-event-bus/resource-group.tf
  modules/eventbridge-event-bus/variables.tf
  modules/eventbridge-rule/outputs.tf
  modules/eventbridge-rule/resource-group.tf
  modules/eventbridge-rule/variables.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/resource-group.tf
  modules/msk-cluster/variables.tf
  modules/ses-identity/outputs.tf
  modules/ses-identity/resource-group.tf
  modules/ses-identity/variables.tf
  modules/sns-fifo-topic/outputs.tf
  modules/sns-fifo-topic/resource-group.tf
  modules/sns-fifo-topic/variables.tf
  modules/sns-standard-topic/outputs.tf
  modules/sns-standard-topic/resource-group.tf
  modules/sns-standard-topic/variables.tf
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

Remove deprecated pull-request-labeler workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#38)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml (#45)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#51)
  README.md
Labels: none

chore: fix module labels in .github/labels.yaml
  .github/labels.yaml
Labels: none

chore: fix module labels in .github/labels.yaml (#52)
  .github/labels.yaml
Labels: none

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

feat(eventbridge-rule): add permissions_boundary support for IAM role
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(eventbridge-rule): add permissions_boundary support for IAM role (#54)
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(ses-identity): support aws v6
  modules/ses-identity/README.md
  modules/ses-identity/main.tf
  modules/ses-identity/outputs.tf
  modules/ses-identity/policies.tf
  modules/ses-identity/route53.tf
  modules/ses-identity/variables.tf
Labels: :floppy_disk: ses-identity

chore(deps): align tedilabs child module version constraints with latest releases
  examples/eventbridge/main.tf
  examples/sns-standard-topic-email-subscription/main.tf
  examples/sns-standard-topic-lambda-subscription/main.tf
  examples/sns-standard-topic-sqs-subscription/main.tf
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/versions.tf
  modules/msk-cluster/scram-secrets.tf
  modules/msk-cluster/security-group.tf
  modules/msk-cluster/versions.tf
Labels: :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster

fix(examples): correct terraform and provider version constraints
  examples/eventbridge/versions.tf
  examples/sns-standard-topic-email-subscription/versions.tf
  examples/sns-standard-topic-lambda-subscription/versions.tf
  examples/sns-standard-topic-sqs-subscription/versions.tf
Labels: none

chore(deps): align tedilabs child module version constraints with latest releases (#55)
  examples/eventbridge/main.tf
  examples/sns-standard-topic-email-subscription/main.tf
  examples/sns-standard-topic-lambda-subscription/main.tf
  examples/sns-standard-topic-sqs-subscription/main.tf
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/versions.tf
  modules/msk-cluster/scram-secrets.tf
  modules/msk-cluster/security-group.tf
  modules/msk-cluster/versions.tf
Labels: :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster

fix(examples): correct terraform and provider version constraints (#56)
  examples/eventbridge/versions.tf
  examples/sns-standard-topic-email-subscription/versions.tf
  examples/sns-standard-topic-lambda-subscription/versions.tf
  examples/sns-standard-topic-sqs-subscription/versions.tf
Labels: none

fix: replace deprecated aws_region name attribute with region
  examples/eventbridge/main.tf
  modules/eventbridge-rule/iam.tf
Labels: :floppy_disk: eventbridge-rule
