Repository tedilabs/terraform-aws-messaging, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

fix: replace deprecated aws_region name attribute with region (#58)
  examples/eventbridge/main.tf
  modules/eventbridge-rule/iam.tf
Labels: :floppy_disk: eventbridge-rule

chore: update .terraform-docs.yml via Terraform
  .terraform-docs.yml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

docs: regenerate terraform-docs with shared config
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-rule/README.md
  modules/msk-cluster/README.md
  modules/ses-identity/README.md
  modules/sns-fifo-topic/README.md
  modules/sns-standard-topic/README.md
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

docs: regenerate terraform-docs with shared config (#59)
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-rule/README.md
  modules/msk-cluster/README.md
  modules/ses-identity/README.md
  modules/sns-fifo-topic/README.md
  modules/sns-standard-topic/README.md
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: ses-identity, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/github-actions.integration.yaml via Terraform
  .github/workflows/github-actions.integration.yaml
Labels: none

chore: remove excessive blank lines around resource_group variable
  modules/eventbridge-event-bus/variables.tf
  modules/eventbridge-rule/variables.tf
  modules/msk-cluster/variables.tf
  modules/sns-fifo-topic/variables.tf
  modules/sns-standard-topic/variables.tf
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

feat(sns-fifo-topic): support aws provider v6
  modules/sns-fifo-topic/README.md
  modules/sns-fifo-topic/main.tf
  modules/sns-fifo-topic/outputs.tf
  modules/sns-fifo-topic/policies.tf
  modules/sns-fifo-topic/resource-group.tf
  modules/sns-fifo-topic/variables.tf
  modules/sns-fifo-topic/versions.tf
Labels: :floppy_disk: sns-fifo-topic

chore: remove excessive blank lines around resource_group variable (#60)
  modules/eventbridge-event-bus/variables.tf
  modules/eventbridge-rule/variables.tf
  modules/msk-cluster/variables.tf
  modules/sns-fifo-topic/variables.tf
  modules/sns-standard-topic/variables.tf
Labels: :floppy_disk: eventbridge-event-bus, :floppy_disk: eventbridge-rule, :floppy_disk: msk-cluster, :floppy_disk: sns-fifo-topic, :floppy_disk: sns-standard-topic

feat(sns-standard-topic): support aws provider v6
  modules/sns-standard-topic/README.md
  modules/sns-standard-topic/main.tf
  modules/sns-standard-topic/outputs.tf
  modules/sns-standard-topic/policies.tf
  modules/sns-standard-topic/resource-group.tf
  modules/sns-standard-topic/subscriptions.tf
  modules/sns-standard-topic/variables.tf
  modules/sns-standard-topic/versions.tf
Labels: :floppy_disk: sns-standard-topic

feat(eventbridge-event-bus): support aws provider v6
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-event-bus/main.tf
  modules/eventbridge-event-bus/outputs.tf
  modules/eventbridge-event-bus/resource-group.tf
  modules/eventbridge-event-bus/variables.tf
  modules/eventbridge-event-bus/versions.tf
Labels: :floppy_disk: eventbridge-event-bus

feat(eventbridge-rule): support aws provider v6
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/main.tf
  modules/eventbridge-rule/outputs.tf
  modules/eventbridge-rule/resource-group.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(msk-cluster): support aws provider v6
  modules/msk-cluster/README.md
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/resource-group.tf
  modules/msk-cluster/scram-secrets.tf
  modules/msk-cluster/security-group.tf
  modules/msk-cluster/variables.tf
Labels: :floppy_disk: msk-cluster

fix(ses-identity): complete aws provider v6 region support
  modules/ses-identity/README.md
  modules/ses-identity/resource-group.tf
  modules/ses-identity/route53.tf
  modules/ses-identity/versions.tf
Labels: :floppy_disk: ses-identity

feat(eventbridge-event-bus): up to date
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-event-bus/main.tf
  modules/eventbridge-event-bus/outputs.tf
  modules/eventbridge-event-bus/variables.tf
  modules/eventbridge-event-bus/versions.tf
Labels: :floppy_disk: eventbridge-event-bus

feat(eventbridge-rule): up to date
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/main.tf
  modules/eventbridge-rule/outputs.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(eventbridge-rule): support firehose, kinesis, lambda and step functions targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(eventbridge-rule): support ecs task targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(eventbridge-rule): support batch job targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(eventbridge-rule): support redshift and sagemaker pipeline targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(eventbridge-rule): support api gateway and appsync targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(msk-cluster): up to date
  modules/msk-cluster/README.md
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/variables.tf
  modules/msk-cluster/versions.tf
Labels: :floppy_disk: msk-cluster

feat(sns-fifo-topic): up to date
  modules/sns-fifo-topic/README.md
  modules/sns-fifo-topic/main.tf
  modules/sns-fifo-topic/outputs.tf
  modules/sns-fifo-topic/variables.tf
  modules/sns-fifo-topic/versions.tf
Labels: :floppy_disk: sns-fifo-topic

feat(sns-standard-topic): up to date
  modules/sns-standard-topic/README.md
  modules/sns-standard-topic/main.tf
  modules/sns-standard-topic/outputs.tf
  modules/sns-standard-topic/subscriptions.tf
  modules/sns-standard-topic/variables.tf
  modules/sns-standard-topic/versions.tf
Labels: :floppy_disk: sns-standard-topic

feat(ses-identity): up to date
  modules/ses-identity/README.md
  modules/ses-identity/outputs.tf
  modules/ses-identity/route53.tf
  modules/ses-identity/versions.tf
Labels: :floppy_disk: ses-identity

feat(sns-fifo-topic): support aws provider v6 (#61)
  modules/sns-fifo-topic/README.md
  modules/sns-fifo-topic/main.tf
  modules/sns-fifo-topic/outputs.tf
  modules/sns-fifo-topic/policies.tf
  modules/sns-fifo-topic/resource-group.tf
  modules/sns-fifo-topic/variables.tf
  modules/sns-fifo-topic/versions.tf
Labels: :floppy_disk: sns-fifo-topic

feat(sns-standard-topic): support aws provider v6 (#62)
  modules/sns-standard-topic/README.md
  modules/sns-standard-topic/main.tf
  modules/sns-standard-topic/outputs.tf
  modules/sns-standard-topic/policies.tf
  modules/sns-standard-topic/resource-group.tf
  modules/sns-standard-topic/subscriptions.tf
  modules/sns-standard-topic/variables.tf
  modules/sns-standard-topic/versions.tf
Labels: :floppy_disk: sns-standard-topic

feat(eventbridge-event-bus): support aws provider v6 (#63)
  modules/eventbridge-event-bus/README.md
  modules/eventbridge-event-bus/main.tf
  modules/eventbridge-event-bus/outputs.tf
  modules/eventbridge-event-bus/resource-group.tf
  modules/eventbridge-event-bus/variables.tf
  modules/eventbridge-event-bus/versions.tf
Labels: :floppy_disk: eventbridge-event-bus

feat(eventbridge-rule): support aws provider v6 (#64)
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/main.tf
  modules/eventbridge-rule/outputs.tf
  modules/eventbridge-rule/resource-group.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

fix(ses-identity): complete aws provider v6 region support (#66)
  modules/ses-identity/README.md
  modules/ses-identity/resource-group.tf
  modules/ses-identity/route53.tf
  modules/ses-identity/versions.tf
Labels: :floppy_disk: ses-identity

feat(msk-cluster): support aws provider v6 (#65)
  modules/msk-cluster/README.md
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/resource-group.tf
  modules/msk-cluster/scram-secrets.tf
  modules/msk-cluster/security-group.tf
  modules/msk-cluster/variables.tf
Labels: :floppy_disk: msk-cluster

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .mise/conf.d/common.toml via Terraform
  .mise/conf.d/common.toml
Labels: none

feat(sns-fifo-topic): up to date
  modules/sns-fifo-topic/README.md
  modules/sns-fifo-topic/main.tf
  modules/sns-fifo-topic/outputs.tf
  modules/sns-fifo-topic/variables.tf
  modules/sns-fifo-topic/versions.tf
Labels: :floppy_disk: sns-fifo-topic

feat(msk-cluster): up to date
  modules/msk-cluster/README.md
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/variables.tf
  modules/msk-cluster/versions.tf
Labels: :floppy_disk: msk-cluster

feat(eventbridge-rule): support ecs task targets
  modules/eventbridge-rule/README.md
  modules/eventbridge-rule/iam.tf
  modules/eventbridge-rule/targets.tf
  modules/eventbridge-rule/variables.tf
Labels: :floppy_disk: eventbridge-rule

feat(sns-standard-topic): up to date
  modules/sns-standard-topic/README.md
  modules/sns-standard-topic/main.tf
  modules/sns-standard-topic/outputs.tf
  modules/sns-standard-topic/subscriptions.tf
  modules/sns-standard-topic/variables.tf
  modules/sns-standard-topic/versions.tf
Labels: :floppy_disk: sns-standard-topic

.github/labeler.yaml:

# Modules
":floppy_disk: eventbridge-event-bus":
- changed-files:
  - any-glob-to-any-file:
    - modules/eventbridge-event-bus/**/*

":floppy_disk: eventbridge-rule":
- changed-files:
  - any-glob-to-any-file:
    - modules/eventbridge-rule/**/*

":floppy_disk: msk-cluster":
- changed-files:
  - any-glob-to-any-file:
    - modules/msk-cluster/**/*

":floppy_disk: ses-identity":
- changed-files:
  - any-glob-to-any-file:
    - modules/ses-identity/**/*

":floppy_disk: sns-fifo-topic":
- changed-files:
  - any-glob-to-any-file:
    - modules/sns-fifo-topic/**/*

":floppy_disk: sns-standard-topic":
- changed-files:
  - any-glob-to-any-file:
    - modules/sns-standard-topic/**/*
